/* mobile */
@media (max-width: 739px) {
    #navbar,
    #navbar > li {
        display: block;
    }

    #navbar > li:first-child {
        display: inline-block;
        right: 2.5em;
    }

    #navbar li a {
        padding: 0;
        text-align: right;
    }

    #topbar-title {
        left: 1em;
    }

    #navbar li a.discord-server {
        padding: 0;
        margin: 10px 25px 10px 25px;
    }

    #header #mobile-menu-btn {
        display: block;
    }

    #description {
        top: 44%;
        margin-top: 10em;
        font-size: 13px;
    }
    #title {
        top: 45%;
        font-size: 27px;
        margin-top: 50px;
    }

    @keyframes title {
        0% {
            transform: translate(-50%, 3000%);
        }

        100% {
            transform: translate(-50%, -45%);
        }
    }

    @keyframes description {
        0% {
            transform: translate(-50%, 500%);
        }

        100% {
            transform: translate(-50%, -44%);
        }
    }
}

@media (max-width: 399px) {
    #topbar-title {
        left: 1em;
    }

    #title {
        top: 43%;
        font-size: 23px;
        margin-top: 50px;
    }

    #description {
        top: 42%;
        margin-top: 10em;
        font-size: 13px;
    }

    @keyframes title {
        0% {
            transform: translate(-50%, 3000%);
        }

        100% {
            transform: translate(-50%, -43%);
        }
    }

    @keyframes description {
        0% {
            transform: translate(-50%, 500%);
        }

        100% {
            transform: translate(-50%, -42%);
        }
    }
}

/* tablet (small screen pcs/laptops) */
@media (min-width: 724px) and (max-width: 1023px) {
    .topbar-menu ul li:first-child {
        font-size: 17px;
        margin-left: 15px;
    }

    #description {
        margin-top: 5.3em;
    }
}
