@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

html {
    font-size: 15px;

    scroll-behavior: smooth;
    scroll-margin: 10px;
}

html,
body {
    width: 100%;
    height: 500vh;

    background-color: rgb(0, 74, 134);
}

a {
    color: #fff;

    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-thumb {
    background-color: #1b274c;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: #07122e;
}

::selection {
    background-color: white;
    color: black;
}

#topbar {
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    background: #ffffff;

    font-family: 'Barlow', sans-serif;

    animation-name: topBar;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes topBar {
    0% {
        transform: translate(0, -60px);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.topbar-inner {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
}

.topbar-title {
    margin: 0 0 0 25px;

    color: rgb(8, 124, 219);

    font-size: 25px;
    font-family: inherit;
    font-weight: 800;
    text-transform: uppercase;
}

.topbar-menu ul {
    display: flex;
}

.topbar-menu ul li {
    list-style: none;
}

.topbar-menu-item {
    display: block;
    margin: 10px 25px 10px 25px;

    color: rgb(0, 0, 0);

    font-size: 14px;
    font-family: inherit;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;

    transition: all 0.25s ease;
}

.topbar-menu ul li.discord-server a {
    margin: 0 35px 0 15px;
    padding: 10px;
    transition: all 0.75s ease-out;
}

.topbar-menu ul li a:hover {
    color: rgb(8, 124, 219);
    transition: all 0.5s ease-in-out;
}

.topbar-menu ul li.discord-server a:hover {
    border-radius: 15px;
    background: #5865f2;
    box-shadow: 0 0 50px #5865f2;
    color: rgb(255, 255, 255);
}

#home {
    width: 100%;
    height: 100vh;
    background-image: url('../assets/bg.png');
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5)),
        url('../assets/bg.png');
    background-repeat: no-repeat;
}

.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-family: 'Barlow', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#title {
    font-size: 50px;
    font-weight: 800;
    animation-name: title;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #ddd;
    border-top-color: blue;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

/*Alert system*/
#notification-area {
    position: fixed;
    top: 0px;
    right: 10px;
    width: 300px;
    display: none;
    flex-direction: column;
}

    #notification-area .notification {
        position: relative;
        padding-left: 50px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        background: #111;
        color: #34495E;
        font-family: "Raleway";
        font-size: 14px;               
        border-radius: 5px;
        margin: 5px 0px;
        opacity: 0;
        left: 20px;
        min-height: 6vh !important;
        animation: showNotification 500ms ease-in-out forwards;
    }

@keyframes showNotification {
    to {
        opacity: 1;
        left: 0px;
    }
}
/*Viền alert*/

#notification-area .notification-color.success {
    position: absolute !important;
    width: 5px !important;            
    height: 100%;
    top: 0px;
    left: 0px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #1ebb5f !important;
}

#notification-area .notification-color.danger {
    position: absolute !important;
    width: 5px !important;            
    height: 100%;
    top: 0px;
    left: 0px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #E74C3C !important;

}


#notification-area .notification.success {
    background: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
}

#notification-area .notification.danger {
    background: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
}


/*icon*/
#notification-area .notification-icon.success {
    position: absolute !important;
    left: 15px;
    top: 17px;
    color: #2ECC71 !important;
}

#notification-area .notification-icon.danger {
    position: absolute !important;
    left: 15px;
    top: 17px;
    color: #E74C3C !important;
}

@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}
.alert.hide {
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(100%);
    }
}


@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

@keyframes title {
    0% {
        transform: translate(-50%, 900%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

#description {
    font-weight: 400;
    animation-name: description;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    margin-top: 4.5rem;
}

@keyframes description {
    0% {
        transform: translate(-50%, 870%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}
