@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

html {
    font-size: 15px;

    scroll-behavior: smooth;
    scroll-margin: 10px;
}

html,
body {
    width: 100%;
    height: 500vh;

    background-color: #0b1733;
    background-repeat: no-repeat;
}

a {
    color: #fff;

    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-thumb {
    background-color: #2878b9;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: #07122e;
}

#topbar {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;
    padding: 0 25px;

    background: #07122e;

    font-family: 'Barlow', sans-serif;

    animation-name: topBar;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes topBar {
    0% {
        transform: translate(0, -60px);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.topbar-inner {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
}

.topbar-title {
    margin: 0 0 0 25px;

    color: #fff;

    font-size: 25px;
    font-family: inherit;
    font-weight: 800;
    text-transform: uppercase;
}

.topbar-menu ul {
    display: flex;
}

.topbar-menu ul li {
    list-style: none;
}

.topbar-menu ul li a {
    display: block;
    margin: 0 10px 0 10px;
    border-radius: 10px;
    padding: 10px;

    color: #fff;

    font-size: 14px;
    font-family: inherit;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;

    transition: all 0.25s ease;
}

.topbar-menu ul li.discord-server a {
    margin: 0 6rem 0 1rem;

    background: #5865f2;
    color: #fff;

    transition: all 0.75s linear;
}

.topbar-menu ul li a:hover {
    color: #5865f2;
}

.topbar-menu ul li.discord-server:hover a {
    background: #09080d;
}

.scrolled {
    height: fit-content;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 50px;
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    animation-name: title;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation-name: description;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin-top: 3rem;
}
