@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.page {
    position: relative;
    background: #e2e2e2;
    height: 300vh;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.header {
    color: white;
    background: transparent;
    position: sticky;
    z-index: 2;
    top: 0;
    transition: 0.3s ease-in-out;
    height: 80px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    padding: 0 40px;
}

.nav {
    width: 40%;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
    font-size: large;
}

.nav-list li a:hover {
    border-bottom: 2px solid white;
    transition: 0.3s;
}

.content {
    background: url('./bg.png');
    background-size: cover;
    height: calc(100vh - 0px);
    position: relative;
    top: -80px;
    z-index: 1;
    display: flex;
    align-items: center;
}

.title {
    color: white;
    font-size: 50px;
    text-align: center;
    margin: auto;
}

.scrolled {
    background: rgba(0, 0, 0, 0.3);
    height: 50px;
}

#info {
    font-size: 30px;
    color: black;
    text-align: center;
    margin: auto;
    padding-top: 80px;
}

.active {
    color: rgb(0, 204, 255);
    border-bottom: 2px solid white;
    transition: 0.3s ease-in-out;
}
